.idea
runs

/picar-library/models/datasets/deprecated_versions/yolo_dataset/train/labels.cache
/picar-library/models/datasets/deprecated_versions/yolo_dataset/valid/labels.cache
/picar-library/models/datasets/deprecated_versions/augmented_noised_yolo_dataset/train/labels.cache
/picar-library/models/datasets/deprecated_versions/augmented_noised_yolo_dataset/valid/labels.cache
/picar-library/model_debug.py
/picar-library/training.py
/picar-library/selection.py
/picar-library/graph.py
/picar-library/models/datasets/final_augmented_dataset/yolo/train/labels.cache
/picar-library/models/datasets/final_augmented_dataset/yolo/valid/labels.cache
